In [1]:
import pandas as pd
import pygs

In [82]:
pygs.pytools.__file__

'pygs/pygs_tools.py'

In [159]:
reload(pygs.pytools)

In [162]:
test2 = pygs.read_google_sheet(spreadsheetId="1OssS-39IcwUrZQ6xzwzFDp7sVxtKRBt49f5f6y5FCtM", sheet_name="Sheet1")

In [163]:
test2

   a  b c d
0  1  1
1  1  1
2  1  1

In [135]:
test['values'][1:]

[[u'1', u'1', u'2'], [u'1', u'1'], [u'1', u'1']]

In [151]:
example = pd.DataFrame([[u'1', u'1', u'2'], [u'1', u'1'], [u'1', u'1']])

In [148]:
from numpy import nan

In [152]:
example.fillna(value = nan, inplace=True)

NameError: name 'isNull' is not defined

In [150]:
example

   0  1    2
0  1  1    2
1  1  1  NaN
2  1  1  NaN

In [102]:
df = test[0]
resp = test[1]

In [114]:
df.columns=[1,2]

In [115]:
df

   1  2
0  1  1
1  1  1
2  1  1

In [112]:
df.reindex(columns=[0,1,2,3,4])

   0  1   2   3   4
0  1  1 NaN NaN NaN
1  1  1 NaN NaN NaN
2  1  1 NaN NaN NaN

In [117]:
pd.concat([df,pd.DataFrame(columns=list('BCD'))])

   1  2    B    C    D
0  1  1  NaN  NaN  NaN
1  1  1  NaN  NaN  NaN
2  1  1  NaN  NaN  NaN

In [116]:
list('BCD')

['B', 'C', 'D']

In [87]:
test

   a  b Unnamed Sheet Col 1 Unnamed Sheet Col 2 Unnamed Sheet Col 3
0  1  1
1  1  1                   1                   1
2  1  1                   1                   1                   1

In [24]:
test['values']

[[u'a', u'b'],
 [u'1', u'1'],
 [u'1', u'1', u'1', u'1'],
 [u'1', u'1', u'1', u'1', u'1']]

In [29]:
pd.DataFrame(test['values'][5:]).shape

(0, 0)

In [113]:
example

   1  2  3  4 5 6 7
0  2  3
1  2  3  4  5
2  2  3  4  5

In [15]:
test['values']

[[u'Advertiser ID', u'Client Engagement (last 90 Days)', u'aid2']]

In [16]:
test['values'][1:len(test['values'])]

[]

In [17]:
len(test['values'])

1

In [18]:
pd.DataFrame(columns=['A','B'])

Empty DataFrame
Columns: [A, B]
Index: []

In [89]:
header = [1,2,3,4,5,6,7]
inside = [[1,2,3],[1,2,3,4,5],[1,2,3,4,5]]

In [90]:
example = pd.DataFrame(inside)

In [62]:
example.columns = [x for x in header] + ["Unnamed Sheet Col " + str(x) for x in range(1,example.shape[1] - len(header) +1) if x >= 0]

ValueError: Length mismatch: Expected axis has 5 elements, new values have 7 elements

In [68]:
example.columns = header[:example.shape[1]]

In [91]:
example

   0  1  2    3    4
0  1  2  3  NaN  NaN
1  1  2  3  4.0  5.0
2  1  2  3  4.0  5.0

In [72]:
example.reindex(columns=[1,2,3,4,5,6])

   1  2  3    4    5   6
0  1  2  3  NaN  NaN NaN
1  1  2  3  4.0  5.0 NaN
2  1  2  3  4.0  5.0 NaN

In [96]:
example  = example.reindex(columns=header).fillna('')

In [97]:
example

   1  2  3  4 5 6 7
0  2  3
1  2  3  4  5
2  2  3  4  5

In [44]:
example.shape[1] - len(header)

2

In [45]:
range(2)

[0, 1]